---
probe_location: location

contact_info:
  name: name
  email: email

databases:
  influxdb:
    server: ip
    name: db name
    username: user
    password: pass

networks:
  two_g:
    ssid: ssid
    anonymous_id: anon id
    username: user
    password: pass
  five_g:
    ssid: ssid
    anonymous_id: anon id
    username: user
    password: pass
  any:
    ssid: ssid
    anonymous_id: anon id
    username: user
    password: pass
