[Unit]
Description=Control program for running wifi measurement scripts
Requires=make_ramdisk.service

[Service]
Type=simple
ExecStart={{ script_dir }}/control_program.py {{ ramdisk_dir }}
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
