[Unit]
Description=Control program for running wifi measurement scripts
Requires=make_ramdisk.service
Wants=network-online.target reverse_ssh.service
After=network.target network-online.target

[Service]
Type=simple
ExecStart={{ script_dir }}/control_program_wrapper.sh {{ script_dir }}/control_program.py {{ ramdisk_dir }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
